<h1>Contact</h1>

<h1>*email*</h1>

<a href="#" class="twitter">
    <img src="" alt="">
</a>
<a href="#" class="instagram">
    <img src="" alt="">
</a>
<a href="#" class="github">
    <img src="#" alt="">
</a>
<a href="#" class="linkedin">
    <img src="#" alt="">
</a>

