<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{appTitle}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/x-icon" href="../images/cute-red-panda-icon-illustration-vector.png">
    
  </head>
  <body>
    <nav>
      <div class="icon-nav">
        <a href="/testing">
        <img style="width: 50px ; margin:0; padding:0;" src="../images/cute-red-panda-icon-illustration-vector.png" alt="">
        </a>
      </div>
      <div class="menu-right">
        {{#unless isLoggedIn}}
          <a href="/signup">Sign Up</a>
          <a href="/login">Log In</a>
        {{/unless}}
        {{#if isLoggedIn}}
          <a href="/upload">Upload</a>
          <a href="/videos">Videos</a>
          <a href="/profile">Profile</a>
          <a href="/logout">Logout</a>
        {{/if}}
          <a href="/contact">Contact</a>     
      </div>
    </nav>
    {{{body}}}
  </body>
</html>
