<h1>Profile</h1>

<form action="/profile" method="post">

<h3>email: {{email}}</h3>
<label for="userName">{{userName}}</label>
<input type="userName" name="userName" id="userName" placeholder="username">
<button>Submit</button>

</form>