<h1 class="contact">Profile</h1>
<div class="contact">


<form action="/profile" method="post">

<h3>email: {{email}}</h3>
<label for="userName">{{userName}}</label>
<input type="userName" name="userName" id="userName" placeholder="username">
<button>Submit</button>

</form>

</div>