<body class="index">
    

<div class="login-page">
  <div class="form">
    <form class="login-form" action="/signup" method="post">
        <input type="text" name="userName" id="userName" placeholder="username">
        <input type="text" name="email" id="emailInput" placeholder="email address"/>
        <input type="password" name="password" id="passwordInput" placeholder="password"/>
        <button>create</button>
      <p class="message">Already registered? <a href="/login">Log In</a></p>
      <p class="message"><a href="/contact">Contact</a></p>
    </form>

  </div>
</div>
{{#if errorMessage}}
<p style="color: red;">{{errorMessage}}</p>
{{/if}}
</body>